body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
    cursor: default;
}

p {
    margin: 0.5em;
}

label {
    display: inline-block;
    cursor: pointer;
}

.githubLink {
    color: #4078c0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divider {
    height: 1px;
    background-color: green;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploadButton {
    background-color: green;
    padding: 5px;
    width: 170px;
    margin-top: 15px;
    align-self: center;
}
